@model LoclaPista.Models.Corrida

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Corrida</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DtaCadastro)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DtaCadastro)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DtaCorrida)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DtaCorrida)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DtaCancelamento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DtaCancelamento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Preco)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Preco)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
